*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(120deg,rgb(202, 202, 81),rgb(247, 126, 27));
	font-family: georgia,sans-serif;
	color: white;
	min-height: 100vh;
}
header{
	font-size: 1.5rem;
}

header,
form{
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
form input{
	color: rgb(247, 126, 27);
}
form input,button{
	padding: 0.5rem;
	font-size: 2rem;
	background-color: white;
	border: none;
}

form button{
	color: rgb(247, 126, 27);
	background: white;
	cursor: pointer;
	transition: all .3s ease;
}
form button:hover{
	background: rgb(247, 126, 27);
	color: white;
}

.todo-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo-list{
	min-width: 40%;
	list-style: none;
}
.todo{
	margin: 0.5rem;
	background: white;
	color: black;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.4s ease;
}

.todo li{
	flex: 1;
}
.trash-btn, .complete-btn{
	background: rgb(247, 126, 27);
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1.4rem;
}
.complete-btn{
	background: rgb(112, 180, 10);
}
.complete-btn:hover{
	opacity: 0.65;
}
.trash-btn{
	background: rgb(207, 67, 67);
}
.trash-btn:hover{
	opacity: 0.65;
}
.todo-item{
	padding: 0 0.5rem;
}
.completed{
	text-decoration: line-through;
	color: rgb(149, 230, 28);
	opacity: 0.5;
}
.removed{
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}
select{
	margin-left: 0.5rem;
	padding: 0.9rem 0.1rem;
	font-size: 20px;
	color: rgb(238, 83, 11);
	font-weight: 600;
}
select option{
	font-weight: 600;
}
